
{% block menu %} {% endblock %}
{% block content %} {% endblock %}
{% block footer %}
<!-- FOOTER -->
<footer style="background-image: url({{ path }}img/background/bg-footer.jpg);">
    <!-- FOOTER INFO -->
    <div class="clearfix footerInfo" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-7 col-xs-12">
                    <div class="footerText">
                        <p class="footerLogo"><img src="https://passion-stickers.com/1532-1653-large_default/stickers-mural-paris-tour-eiffel.jpg" alt="Footer Logo"></p>
                        <p>This site allows visitors to make visiting the monuments of Paris easier. If a monument is missing or if you have any ideas for improvement, do not hesitate to contact us through the link below ;)</p>
                        <ul class="list-styled list-contact">
                            <li><i class="fa fa-phone" aria-hidden="true"></i>06.11.21.90.67</li>
                            <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="#">contact@lesbogoss.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- COPY RIGHT -->
    <div class="clearfix copyRight">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="copyRightWrapper">
                        <div class="row">
                            <div class="col-sm-7 col-sm-pull-5 col-xs-12">
                                <div class="copyRightText">
                                    <p>Copyright &copy; 2017. All Rights Reserved by Us</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>
</div>
<!-- JAVASCRIPTS -->
<script src="{{ path }}plugins/jquery/jquery.js"></script>
<script src="{{ path }}plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="{{ path }}plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="{{ path }}plugins/smoothscroll/SmoothScroll.min.js"></script>
<script src="{{ path }}plugins/waypoints/waypoints.min.js"></script>
<script src="{{ path }}plugins/counter-up/jquery.counterup.min.js"></script>
<script src="{{ path }}plugins/datepicker/bootstrap-datepicker.min.js"></script>
<script src="{{ path }}plugins/selectbox/jquery.selectbox-0.1.3.min.js"></script>
<script src="{{ path }}plugins/owl-carousel/owl.carousel.min.js"></script>
<script src="{{ path }}plugins/isotope/isotope.min.js"></script>
<script src="{{ path }}plugins/fancybox/jquery.fancybox.pack.js"></script>
<script src="{{ path }}plugins/isotope/isotope-triger.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBEDfNcQRmKQEyulDN8nGWjLYPm8s4YB58"></script>
<script src="{{ path }}plugins/map/js/rich-marker.js"></script>
<script src="{{ path }}plugins/map/js/infobox_packed.js"></script>

<script src="{{ path }}js/custom.js"></script>
<script src="{{ path }}plugins/sweetalert2/dist/sweetalert2.js"></script>
<!-- JAVASCRIPTS -->
{% block script %} {% endblock %}
<script src="{{ path }}js/single-map.js"></script>
<script src="{{ path }}js/map.js"></script>


</body>

</html>
{% endblock %}