{% extends 'menu.html.twig' %}
{% block content %}



<!-- BANNER SECTION -->
<section class="clearfix homeBanner" style="background-image: url({{ path }}img/banner/banner1.jpg); padding: 0; height: 100%; width: 100%;" >
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="banerInfo" style="padding-top: 24%;">
					<h1>Visit, Enjoy and Note</h1>
					<p>NOm du site simplifies your discovery of the Paris' Monuments</p>
					  <div class="m-t-5">
					  	<button id="btn2" class="btn btn-success btn-bgcolor-blue">With Name</button>
						<button id="btn1" class="btn btn-success btn-bgcolor-grey">With Type/City</button>
			          </div>
					<form class="form-inline hide" action="{{ path }}php/listeMonument.html" method="GET" id="form1" style="margin-top: 6%"><!-- La EXCEPTIONNELLEMNT ON LE MET EN GET-->
						<div class="form-group" id="divcity">
							<div class="input-group">
								<div class="input-group-addon">City</div> <!-- METTRE UN NAME OBLIGATOIRE !!!! LA MAJUSCULE -->
								<!--<input type="text" class="form-control" name="city" id="findItem" placeholder="What are you looking for?">-->
								<select class="form-control" name="city" name="city">
									{% for City in City %}
									<option value="{{ City.Id }}">{{ City.Name }}</option>
									{% endfor %}
								</select>
								<div class="input-group-addon addon-right"></div>
							</div>
						</div>
						<div class="form-group" id="divtype">
							<div class="input-group">
								<div class="input-group-addon">Type</div>
								<!-- <input type="text" class="form-control" name="type" id="nearLocation" placeholder="Type of monument"> -->
								<select class="form-control" name="type" name="type">
									{% for Type in Type %}
									<option value="{{ Type.Id }}" >{{ Type.Name }} </option>
									{% endfor %}
								</select>
								<div class="input-group-addon addon-right"><i class="icon-listy icon-target" aria-hidden="true"></i></div>
							</div>
						</div>
						<button type="submit" class="btn btn-primary" id="btnsearch1">Search <i class="fa fa-search" aria-hidden="true"></i></button>
					</form>
					<form class="form-inline " action="index.html" method="GET" id="form2" style="margin-top: 6%"><!-- La EXCEPTIONNELLEMNT ON LE MET EN GET-->
						<div class="form-group" id="divname">
							<div class="input-group">
								<div class="input-group-addon">Name</div>
								<input type="text" class="form-control" name="name" id="nearLocation" placeholder="Name">
								<div class="input-group-addon addon-right"><i class="icon-listy icon-target" aria-hidden="true"></i></div>
							</div>
						</div>
							<button type="submit" class="btn btn-primary" id="btnsearch2">Search <i class="fa fa-search" aria-hidden="true"></i></button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col arrow-down">
				<a href="#dop" class="arrow-down" id="arrow-d">
					<i class="fa fa-arrow-circle-down fa-5x" aria-hidden="true" style="margin-top: 17% "></i>
				</a>
			</div>
			<div class="col"></div>
		</div>
	</div>
</section>

<!-- THINGS SECTION -->
<section class="clearfix thingsArea" id = "dop">
	<div class="container">
		<div class="page-header text-center">
			<h2>Popular Things Near You <small>This are some of most popular listing</small></h2>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div id="thubmnailSlider" class="carousel slide thumbnailCarousel">

					<ol class="carousel-indicators">
						<li data-target="#thubmnailSlider" data-slide-to="0" class="active"></li>
						<li data-target="#thubmnailSlider" data-slide-to="1"></li>
						<li data-target="#thubmnailSlider" data-slide-to="2"></li>
						<li data-target="#thubmnailSlider" data-slide-to="3"></li>
						<li data-target="#thubmnailSlider" data-slide-to="4"></li>
						<li data-target="#thubmnailSlider" data-slide-to="5"></li>
						<li data-target="#thubmnailSlider" data-slide-to="6"></li>
						<li data-target="#thubmnailSlider" data-slide-to="7"></li>
					</ol>

					<!-- Carousel items -->
					<div class="carousel-inner">

						<div class="item row active">
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="thingsBox">
									<div class="thingsImage">
										<img src="{{ path }}img/things/things-1.jpg" alt="Image things">
										<div class="thingsMask">
											<ul class="list-inline rating">
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
											</ul>
											<a href="blog-details.html"><h2>The City Theater <i class="fa fa-check-circle" aria-hidden="true"></i></h2></a>
											<p>10 Bay Street Toronto Ontario Canada</p>
										</div>
									</div>
									<div class="thingsCaption ">
										<ul class="list-inline captionItem">
											<li><i class="fa fa-heart-o" aria-hidden="true"></i> 10 k</li>
											<li><a href="category-list-left.html">Hotel, Restaurant</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>

						<div class="item row">
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="thingsBox">
									<div class="thingsImage">
										<img src="{{ path }}img/things/things-2.jpg" alt="Image things">
										<div class="thingsMask">
											<ul class="list-inline rating">
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
											</ul>
											<a href="blog-details.html"><h2>The City Theater</h2></a>
											<p>10 Bay Street Toronto Ontario Canada</p>
										</div>
									</div>
									<div class="thingsCaption ">
										<ul class="list-inline captionItem">
											<li><i class="fa fa-heart-o" aria-hidden="true"></i> 10 k</li>
											<li><a href="category-grid-full.html">Hotel, Restaurant</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>

						<div class="item row">
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="thingsBox">
									<div class="thingsImage">
										<img src="{{ path }}img/things/things-3.jpg" alt="Image things">
										<div class="thingsMask">
											<ul class="list-inline rating">
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
											</ul>
											<a href="blog-details.html"><h2>The City Theater <i class="fa fa-check-circle" aria-hidden="true"></i></h2></a>
											<p>10 Bay Street Toronto Ontario Canada</p>
										</div>
									</div>
									<div class="thingsCaption ">
										<ul class="list-inline captionItem">
											<li><i class="fa fa-heart-o" aria-hidden="true"></i> 10 k</li>
											<li><a href="category-grid.html">Hotel, Restaurant</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>

						<div class="item row">
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="thingsBox">
									<div class="thingsImage">
										<img src="{{ path }}img/things/things-1.jpg" alt="Image things">
										<div class="thingsMask">
											<ul class="list-inline rating">
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
											</ul>
											<a href="blog-details.html"><h2>The City Theater</h2></a>
											<p>10 Bay Street Toronto Ontario Canada</p>
										</div>
									</div>
									<div class="thingsCaption ">
										<ul class="list-inline captionItem">
											<li><i class="fa fa-heart-o" aria-hidden="true"></i> 10 k</li>
											<li><a href="category-grid-full.html">Hotel, Restaurant</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>

						<div class="item row">
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="thingsBox">
									<div class="thingsImage">
										<img src="{{ path }}img/things/things-2.jpg" alt="Image things">
										<div class="thingsMask">
											<ul class="list-inline rating">
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
											</ul>
											<a href="blog-details.html"><h2>The City Theater <i class="fa fa-check-circle" aria-hidden="true"></i></h2></a>
											<p>10 Bay Street Toronto Ontario Canada</p>
										</div>
									</div>
									<div class="thingsCaption ">
										<ul class="list-inline captionItem">
											<li><i class="fa fa-heart-o" aria-hidden="true"></i> 10 k</li>
											<li><a href="category-list-right.html">Hotel, Restaurant</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>

						<div class="item row">
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="thingsBox">
									<div class="thingsImage">
										<img src="{{ path }}img/things/things-3.jpg" alt="Image things">
										<div class="thingsMask">
											<ul class="list-inline rating">
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
											</ul>
											<a href="blog-details.html"><h2>The City Theater</h2></a>
											<p>10 Bay Street Toronto Ontario Canada</p>
										</div>
									</div>
									<div class="thingsCaption ">
										<ul class="list-inline captionItem">
											<li><i class="fa fa-heart-o" aria-hidden="true"></i> 10 k</li>
											<li><a href="category-grid-full.html">Hotel, Restaurant</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>

						<div class="item row">
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="thingsBox">
									<div class="thingsImage">
										<img src="{{ path }}img/things/things-1.jpg" alt="Image things">
										<div class="thingsMask">
											<ul class="list-inline rating">
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
											</ul>
											<a href="blog-details.html"><h2>The City Theater <i class="fa fa-check-circle" aria-hidden="true"></i></h2></a>
											<p>10 Bay Street Toronto Ontario Canada</p>
										</div>
									</div>
									<div class="thingsCaption ">
										<ul class="list-inline captionItem">
											<li><i class="fa fa-heart-o" aria-hidden="true"></i> 10 k</li>
											<li><a href="category-grid.html">Hotel, Restaurant</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>

						<div class="item row">
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="thingsBox">
									<div class="thingsImage">
										<img src="{{ path }}img/things/things-2.jpg" alt="Image things">
										<div class="thingsMask">
											<ul class="list-inline rating">
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
												<li><i class="fa fa-star" aria-hidden="true"></i></li>
											</ul>
											<a href="blog-details.html"><h2>The City Theater</h2></a>
											<p>10 Bay Street Toronto Ontario Canada</p>
										</div>
									</div>
									<div class="thingsCaption ">
										<ul class="list-inline captionItem">
											<li><i class="fa fa-heart-o" aria-hidden="true"></i> 10 k</li>
											<li><a href="category-list-full.html">Hotel, Restaurant</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>

					</div>

					<a class="left carousel-control" href="#thubmnailSlider" data-slide="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
					<a class="right carousel-control" href="#thubmnailSlider" data-slide="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- WORKS SECTION -->
<section class="clearfix worksArea">
	<div class="container">
		<div class="page-header text-center">
			<h2>How it Works? </h2>
		</div>
		<div class="row">
			<div class="col-sm-4 col-xs-12">
				<div class="thumbnail text-center worksContent">
					<img src="{{ path }}img/works/works-1.png" alt="Image works">
					<div class="caption">
						<a href="how-it-works.html"><h3>Find a Monument</h3></a>
						<p>Whether you know the name or not, find the monument you are looking for.</p>
					</div>
				</div>
			</div>
			<div class="col-sm-4 col-xs-12">
				<div class="thumbnail text-center worksContent">
					<img src="{{ path }}img/works/works-2.png" alt="Image works">
					<div class="caption">
						<a href="how-it-works.html"><h3>Plan ahead and make up your mind </h3></a>
						<p>Consult the opening hours and see their popularity with users of " NOm DU SITE ".</p>
					</div>
				</div>
			</div>
			<div class="col-sm-4 col-xs-12">
				<div class="thumbnail text-center worksContent">
					<img src="{{ path }}img/works/works-3.png" alt="Image works">
					<div class="caption">
						<a href="how-it-works.html"><h3>Give your opinion and Rate !</h3></a>
						<p>Help other visitors to have a good time and record the monuments you visited. You can even post a comment to say what you think!</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="btnArea text-center"><a href="#" class="btn btn-primary">Watch it now <i class="fa fa-play-circle" aria-hidden="true"></i></a></div>
			</div>
		</div>
	</div>
</section>


	<!-- LOGIN  MODAL -->
	<div id="loginModal" tabindex="-1" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content" id="form-connect">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Log In to your Account</h4>
				</div>
				<div class="modal-body">
					<form class="loginForm" id="form-connect">
						<div class="form-group">
							<i class="fa fa-envelope" aria-hidden="true"></i>
							<input type="email" class="form-control" id="email" placeholder="Email">
						</div>
						<div class="form-group">
							<i class="fa fa-lock" aria-hidden="true"></i>
							<input type="password" class="form-control" id="pwd" placeholder="Password">
						</div>
						<div class="checkbox">
							<label><input type="checkbox"> Remember me</label>

						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-primary btn-block">Log In</button>
							<a data-toggle="modal" data-dismiss="modal" data-target="#forgotModal">Forgot Password</a>
							<a style="margin-left: 45%;" data-toggle="modal" data-dismiss="modal" data-target="#registerModal">Register</a>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
    {#FIN#}

	<!-- FORGOT PASSWORD  MODAL -->
	<div id="forgotModal" tabindex="-1" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content" id="form-connect">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Forgot your password?</h4>
				</div>
				<form accept-charset="UTF-8" role="form" id="login-recordar" method="post">
					<fieldset style="padding: 5%;">
        				<span class="help-block">
          					Email address you use to log in to your account
          					<br>
							We'll send you an email with instructions to choose a new password.
        				</span>
						<div class="form-group input-group">
          					<span class="input-group-addon">
            					@
          					</span>
							<input class="form-control" placeholder="Email" name="email" type="email" required="">
						</div>
							<button type="submit" class="btn btn-primary btn-block" id="btn-olvidado">
							Continue
							</button>
						<p class="help-block">
							<a class="backAccount"  data-toggle="modal" data-dismiss="modal" data-target="#loginModal">Account Access</a>
						</p>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
    {#FIN#}
<div id="registerModal" tabindex="-1" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content" id="form-connect">
	<!-- Register  MODAL -->
	{#<div class="container">#}
		{#<div class="row">#}
			<div class="col-xs-12 col-sm-12 col-md-4 well well-sm" style="width: 100%;padding: 5%;background-color: #ffffff;">
				<legend><a href="http://www.jquery2dotnet.com"></a> Sign up!</legend>
				<form action="#" method="post" class="form" role="form">
					<div class="row">
						<div class="col-xs-6 col-md-6">
							<input class="form-control" name="firstname" placeholder="First Name" type="text"
								   required autofocus />
						</div>
						<div class="col-xs-6 col-md-6">
							<input class="form-control" name="lastname" placeholder="Last Name" type="text" required />
						</div>
					</div>
					<input class="form-control" name="youremail" placeholder="Your Email" type="email" />
					<input class="form-control" name="reenteremail" placeholder="Re-enter Email" type="email" />
					<input class="form-control" name="password" placeholder="New Password" type="password" />
					<br />
					<br />
					<button class="btn btn-lg btn-primary btn-block" type="submit" data-toggle="modal" data-target="#congratModal">
						Sign up</button>
				</form>
			</div>
		{#</div>#}
	{#</div>#}
		</div>
	</div>
</div>


    {#FIN#}

	<div id="congratModal" tabindex="-1" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content" id="form-connect">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Congratulation !!</h4>
				</div>
				<form accept-charset="UTF-8" role="form" id="login-recordar" method="post">
					<fieldset style="padding: 5%;">
        				<span class="help-block">
          					Thank you for creating your account !!!
          					<br>
							You can now note down the monuments you have visited and even leave a note to help others !!
        				</span>

						<button type="submit" class="btn btn-primary btn-block" id="btn-olvidado" data-toggle="modal" data-target="#loginModal">
							Connection
						</button>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
    {#FIN#}
{% block script %}
  <script type="text/javascript">
	
	$("#btn2").click(function(){
	$("#form2").removeClass("hide");
	$("#form1").addClass("hide");
	$("#btnsearch2").removeClass("hide");
	$("#btnsearch1").addClass("hide");
});
	$("#btn1").click(function(){
	$("#form2").addClass("hide");
	$("#form1").removeClass("hide");
	$("#btnsearch1").removeClass("hide");
	$("#btnsearch2").addClass("hide");
});

//Fonction ANIMATION SCROOL 
// Explication : On Cible avec $ tout les <a> qui on un href et on lui dit de faire un fonction lorsque tu clique dessus
$('a[href^="#"]').click(function(){
	//On recupere la valeur du href 
	var the_id = $(this).attr("href");
//On lui dit d'aniimé la page cad tout le HTML et BODY
	$('html, body').animate({
		//On lui dit de scrooler vers $(this_id) = href qu'on a recup juste avant 
		//On scrool vers le haut : Mais sa c'est basique c'est presque tjr comme ca 
		scrollTop:$(the_id).offset().top
		//Slow c'est la rapidité qu'on va mettre pous aller faire ce chemin
	}, 'slow');
	//REtourne false pour ne plus avoir d'action apres 
	// (apres un 'return' dasn un fonction le code de la fonction s'arreter il ne lis pas la suite )
	//Exemple si tu mets alert(BLABLA) apres return il s'affichera pas si tu clique sur un <a> mais si tu enleve le return sa marceh 
	// DErnier chose si tu cree un nouvelle fonction ou un nouveau truc en dessus de return mais que tu n'es pas dans la fontion ou il y'a le reutnr sa va marcher 

	return false;
});
 
document.addEventListener('DOMContentLoaded', function() {
  window.onscroll = function(ev) {
    document.getElementById("cRetour").className = (window.pageYOffset > 100) ? "cVisible" : "cInvisible";
  };
});



  </script>
	{% endblock %}

</body>

</html>
{% endblock %}
