{%  extends 'footer.html.twig'%}
{% block menu %}
<!DOCTYPE html>
<html lang="en">
<head>

    <!-- SITE TITTLE -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home - Listty</title>

    <!-- PLUGINS CSS STYLE -->
    <link href="{{ path }}plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet">
    <link href="{{ path }}plugins/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="{{ path }}plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ path }}plugins/listtyicons/style.css" rel="stylesheet">
    <link href="{{ path }}plugins/bootstrapthumbnail/bootstrap-thumbnail.css" rel="stylesheet">
    <link href="{{ path }}plugins/datepicker/datepicker.min.css" rel="stylesheet">
    <link href="{{ path }}plugins/selectbox/select_option1.css" rel="stylesheet">
    <link href="{{ path }}plugins/owl-carousel/owl.carousel.min.css" rel="stylesheet">
    <link href="{{ path }}plugins/fancybox/jquery.fancybox.pack.css" rel="stylesheet">
    <link href="{{ path }}plugins/isotope/isotope.min.css" rel="stylesheet">
    <link href="{{ path }}plugins/map/css/map.css" rel="stylesheet">
    <link href="{{ path }}plugins/sweetalert2/dist/sweetalert2.css" rel="stylesheet">

    <!-- GOOGLE FONT -->
    <link href="https://fonts.googleapis.com/css?family=Muli:200,300,400,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Herr+Von+Muellerhoff" rel="stylesheet">

    <!-- CUSTOM CSS -->
    <link href="{{ path }}css/style.css" rel="stylesheet">
    <link href="{{ path }}css/styleMe.css" rel="stylesheet">

    <!-- FAVICON -->
    <link href="{{ path }}img/favicon.png" rel="shortcut icon">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="body-wrapper">
<div><a id="cRetour" class="cInvisible" href="#pageTop"></a></div>
<div class="page-loader" style="background: url({{ path }}img/preloader.gif) center no-repeat #fff;"></div>
<div class="main-wrapper" style="height:100%">
    <!-- LOGIN  MODAL -->
    <div id="loginModal" tabindex="-1" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content" id="form-connect">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Log In to your Account</h4>
                </div>
                <div class="modal-body">
                    <form class="loginForm" id="form-connect" method="POST">
                        <div class="form-group">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                            <input type="password" class="form-control" name="password" id="pwd" placeholder="Password">
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox"> Remember me</label>
                            <input type="hidden" name="type" value="2">

                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Log In</button>
                            <a data-toggle="modal" data-dismiss="modal" data-target="#forgotModal">Forgot Password</a>
                            <a style="margin-left: 45%;" data-toggle="modal" data-dismiss="modal" data-target="#registerModal">Register</a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    {#FIN#}

    <!-- FORGOT PASSWORD  MODAL -->
    <div id="forgotModal" tabindex="-1" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content" id="form-connect">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Forgot your password?</h4>
                </div>
                <form accept-charset="UTF-8" role="form" id="login-recorda" method="post">
                    <fieldset style="padding: 5%;">
        				<span class="help-block">
          					Email address you use to log in to your account
          					<br>
							We'll send you an email with instructions to choose a new password.
        				</span>
                        <div class="form-group input-group">
          					<span class="input-group-addon">
            					@
          					</span>
                            <input class="form-control" placeholder="Email" name="email" type="email" required="">
                            <input type="hidden" name="type" value="3">

                        </div>
                        <button type="submit" class="btn btn-primary btn-block" id="btn-olvidad">
                            Continue
                        </button>
                        <p class="help-block">
                            <a class="backAccount"  data-toggle="modal" data-dismiss="modal" data-target="#loginModal">Account Access</a>
                        </p>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    {#FIN#}
    <div id="registerModal" tabindex="-1" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content" id="form-connect">
                <!-- Register  MODAL -->
                {#<div class="container">#}
                {#<div class="row">#}
                <div class="col-xs-12 col-sm-12 col-md-4 well well-sm" style="width: 100%;padding: 5%;background-color: #ffffff;">
                    <legend><a href="http://www.jquery2dotnet.com"></a> Sign up!</legend>
                    <form action="#" method="post" class="form" role="form">
                        <div class="row">
                            <div class="col-xs-6 col-md-6">
                                <input class="form-control" name="firstname" placeholder="First Name" type="text"
                                       required autofocus />
                            </div>
                            <div class="col-xs-6 col-md-6">
                                <input class="form-control" name="lastname" placeholder="Last Name" type="text" required />
                            </div>
                        </div>
                        <input class="form-control" name="youremail" placeholder="Your Email" type="email" />
                        <input class="form-control" name="reenteremail" placeholder="Re-enter Email" type="email" />
                        <input class="form-control" name="password" placeholder="New Password" type="password" />
                        <input type="hidden" name="type" value="1">
                        <br />
                        <br />
                        <button class="btn btn-lg btn-primary btn-block" id="valid" type="submit" data-toggle="modal" data-target="#congratModal">
                            Sign up</button>
                    </form>
                    <div class="form-group">
                        <a style="margin-left: 45%;" data-toggle="modal" data-dismiss="modal" data-target="#loginModal">Login</a>
                    </div>
                </div>
                {#</div>#}
                {#</div>#}
            </div>
        </div>
    </div>


    {#FIN#}

    <div id="congratModal" tabindex="-1" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content" id="form-connect">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Congratulation !!</h4>
                </div>
                <form accept-charset="UTF-8" role="form" id="login-recordar" method="post">
                    <fieldset style="padding: 5%;">
        				<span class="help-block">
          					Thank you for creating your account !!!
          					<br>
							You can now note down the monuments you have visited and even leave a note to help others !!
        				</span>

                        <button type="submit" class="btn btn-primary btn-block" id="btn-olvidado"  data-toggle="modal" data-dismiss="modal" data-target="#loginModal">
                            Connection
                        </button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    {#FIN#}
    <!-- HEADER -->
    <header id="pageTop" class="header">

        <!-- TOP INFO BAR -->

        <div class="nav-wrapper bb-fixed-header" style="opacity: 1;">

            <!-- NAVBAR -->
            <nav id="menuBar" class="navbar navbar-default lightHeader" role="navigation">
                <div class="container">

                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a  href="{{ path }}php/"><img class="logo" src="{{ path }}img/logo-pmh.png" width="45px" height="55px" alt="Visit Tour"></a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav navbar-right">

                            <li class="active dropdown singleDrop">

                            <li><a href="{{ path }}php/index.php">HOME</a></li>

                            </li>

                            <li class="active dropdown singleDrop">

                            <li><a href="{{ path }}php/listeMonument.php">MAPS</a></li>

                            </li>
                            <li class="active dropdown singleDrop">

                            <li><a href="#footer">CONTACT US</a></li>

                            </li>

                    {% if session > 0 %}
                        <li class=" dropdown singleDrop">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                            <ul class="dropdown-menu dropdown-menu-left">
                                <li><a href="{{ path }}php/profile.php">My Profile</a></li>
                                <li><a href="{{ path }}php/disconnect.php">Disconnect</a></li>

                            </ul>
                        </li>
                        </ul>
                    </div>
                        {#<button type="button" class="btn btn-default navbar-btn" >#}
                            {#<span>#}
                                {#<li class=" dropdown megaDropMenu">#}
                                    {#<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Account <i class="fa fa-angle-down" aria-hidden="true"></i></a>#}
                                    {#<ul id="dropLogout" class="dropdown-menu dropdown-menu-left">#}
                                        {#<li ><a id="colorDrop" onclick="document.location.href='{{ path }}php/profile.php';" >My Personal Information</a></li>#}
                                        {#<li><a id="colorDrop" href=".....">Logout</a></li>#}
                                    {#</ul>#}
                                {#</li>#}

                            {#</span> </button>#}

                    {% else %}
                        <button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#loginModal"> <span>Register / Sign in</span> </button>
                    {% endif %}
                </div>
            </nav>
        </div>
    </header>

{% endblock %}
    {% block content %} {% endblock %}

