{% extends 'menu.html.twig' %}
{% block content %}
    <!-- LISTINGS DETAILS TITLE SECTION -->
    <section id="Detailmonument" class="clearfix paddingAdjustBottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="listingTitleArea">
                        <h2>{{ Monument.Name_Monument }}</h2>
                        <div class="listingReview">
                            <ul class="list-inline rating">
                                {% set Rating = Monument | last.totalRating / Monument | last.totalLine %}
                                {% if Rating|round == 1 %}
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                {% elseif Rating|round == 2 %}
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                {% elseif Rating|round == 3 %}
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                {% elseif Rating|round == 4 %}
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                {% else %}
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                {% endif %}
                            </ul>
                            <span>( {{ Monument | last.totalLine }} Reviews )</span>
                            <a href="#Review" class="btn btn-primary">Write a review</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- LISTINGS DETAILS IMAGE SECTION -->
    <!-- Button trigger modal -->
    <a class="btn btn-primary" data-toggle="modal" data-target="#myModal">
        + Add picture
    </a>
    <section class="clearfix paddingAdjustTopBottom">
            <div id="blog-carousel-id" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
            {% for Image in Images %}
                        <div class="item {% if loop.index == 1 %}active{% endif %}">
                            <img src="{{ path }}img/Monuments/{{ Monument.Id_monument }}/{{ Image.Url }}" alt="{{ Monument.Id_monument }}" class="imgCarousel img-responsive">
                        </div>

            {% endfor %}
                </div>
                <a class="left carousel-control" href="#blog-carousel-id" data-slide="prev" ><i class="arrow icon-listy icon-left-arrow-3"></i></a>
                <a class="right carousel-control" href="#blog-carousel-id" data-slide="next"><i class="arrow icon-listy icon-right-arrow-3"></i></a>
            </div>
    </section>


    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Download new image</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="imageUploader text-center">
                        <div class="file-upload">
                            <div class="upload-area">
                                <form class="form-control" enctype="multipart/form-data" method="POST" id="ImageDL" action="{{ path }}ajax/ImageDL.ajax.php">
                                <input type="file" name="fichier" class="file" onchange="$('#ImageDL').submit();">
                                <input type="hidden" name="id" value="{{ Monument.Id_monument }}">
                                <input type="hidden" name="name_mon" value="{{ Monument.Name_Monument }}">
                                <input type="hidden" name="number" value="{{ Images|length }}">
                                <button class="browse" type="button">Click or Drag images here</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    <!-- LISTINGS DETAILS INFO SECTION -->
    <section class="clearfix paddingAdjustTop">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-xs-12">
                    <div class="listDetailsInfo">
                        <div class="detailsInfoBox">
                            <h3>Reviews ({{ Monument | last.totalLine }})</h3>
                            {% for comment in Comments %}
                            <div class="media media-comment">
                                <div class="media-left">
                                    <img src="../img/listing/list-user-1.jpg" class="media-object img-circle" alt="Image User">
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">{{ comment.Surname }}  {{ comment.Name }}</h4>
                                    <ul class="list-inline rating">
                                        {% if comment.Rating|round == 1 %}
                                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                            <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                            <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                            <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                            <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                        {% elseif comment.Rating|round == 2 %}
                                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                            <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                            <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                            <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                        {% elseif comment.Rating|round == 3 %}
                                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                            <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                            <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                        {% elseif comment.Rating|round == 4 %}
                                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                            <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                        {% else %}
                                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        {% endif %}
                                    </ul>
                                    <p>{{ comment.Comments }}</p>
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                        <form action="#" method="POST">
                        <div id="Review" lass="detailsInfoBox">
                            <h3>Write A Review </h3>
                            <div class="listingReview">
                                <span>( 5 Reviews )</span>
                                <div class="rating">
                                    <input name="stars" id="e5" type="radio" onclick="setRating(5)"></a><label for="e5">☆</label>
		                            <input name="stars" id="e4" type="radio" onclick="setRating(4)"></a><label for="e4">☆</label>
		                            <input name="stars" id="e3" type="radio" onclick="setRating(3)"></a><label for="e3">☆</label>
                                    <input name="stars" id="e2" type="radio" onclick="setRating(2)"></a><label for="e2">☆</label>
                                    <input name="stars" id="e1" type="radio" onclick="setRating(1)"></a><label for="e1">☆</label>
                                </div>
                            </div>

                                <div class="formSection formSpace">
                                    <div class="form-group">
                                        <textarea class="form-control" name="Comment" rows="3" placeholder="Comment"></textarea>
                                    </div>
                                    <div class="form-group mb0">
                                        <input type="hidden" name="Rating" id="rating">
                                        <input type="hidden" name="Review" value="1">
                                        <button {% if connect is not null %}type="submit"{% else %}type="button" data-toggle="modal" data-target="#loginModal"{% endif %} class="btn btn-primary">Send Review</button>
                                    </div>
                                </div>
                        </div>
                        </form>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div id="mapDetailMonument" class="clearfix map-sidebar map-right">
                        <div id="map" style="position:relative; margin: 0;padding: 0;height: 538px; max-width: none;"></div>
                    </div>
                    <div id="locationMonuDetail" class="listSidebar">
                        <h3>Location</h3>
                        <div class="contactInfo">
                            <ul class="list-unstyled list-address">
                                <li>
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    {{ Adresse }}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="listSidebar">
                        <h3>Opening Hours</h3>
                        <ul class="list-unstyled sidebarList">
                            {% for Horaire in Horaire %}
                            <li>
                                {% set Matin = Horaire.Matin_Debut|split('') %}
                                {% set Midi = Horaire.Midi_Fin|split('') %}
                                <span class="pull-left">{{ Horaire.Name }}</span>
                                {% if Horaire.Matin_Debut <= 0 %}
                                    <span class="pull-right">Closed</span>
                                {% else %}
                                <span class="pull-right">{{ Matin.0 }}{{ Matin.1 }}h{{ Matin.2 }}{{ Matin.3 }} - {{ Midi.0 }}{{ Midi.1 }}h{{ Midi.2 }}{{ Midi.3 }}</span>
                                {% endif  %}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
{% block script %}
    <script>
        function setRating(Rating){
            $('#rating').val(Rating);
        }
        {#var center = new google.maps.LatLng({{ Monument.Lat }}, {{ Monument.Lon }});#}
        var myLatLng = {lat: {{ Monument.Lat }}, lng: {{ Monument.Lon }}};
        {% if Msg is not null %}
            swal(
            'Hey!',
            '{{ Msg }}',
            'info'
        )
        {% endif %}
    </script>
{% endblock %}