{% extends 'menu.html.twig' %}
{% block content %}
<!-- DASHBOARD PROFILE SECTION -->
<section class="clearfix bg-dark profileSection2">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-5 col-xs-12">
				<div class="dashboardBoxBg mb30">
					<div class="profileImage">
						<img src="../img/dashboard/user-2.jpg" alt="Image User" class="img-circle">
						<div class="file-upload profileImageUpload">
							<div class="upload-area">
								<input type="file" name="img[]" class="file">
								<button class="browse" type="button">Upload a Picture <i class="icon-listy icon-upload"></i></button>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="col-md-8 col-sm-7 col-xs-12">
				<form method="POST">
					<div class="dashboardBoxBg">
						<div class="profileIntro">
							<h2>Your Profile</h2>
							<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form Ipsum available.</p>
						</div>
					</div>
					<div class="dashboardBoxBg mt30">
						<div class="profileIntro">
							<h3>About You</h3>
							{% if success is not null %}
								<div class="alert-success alert">
									{% for success in success %}
										{{ success }}<br>
									{% endfor %}
								</div>
								{% elseif errors is not null%}
							<div class="alert-danger alert">
                            {% for errors in errors %}
                                {{ errors }}<br>
                            {% endfor %}
						</div>
							{% endif %}
							<div class="row">
								<div class="form-group col-sm-6 col-xs-12">
									<label for="firstNameProfile">Fast Name</label>
									<input type="text" class="form-control" id="firstNameProfile" name="name" required placeholder="Jane" {%  if user is not null %}value="{{ user.Name }}" {% endif %}>
									<input type="hidden" name="type" value="Account">
								</div>
								<div class="form-group col-sm-6 col-xs-12">
									<label for="lastNameProfile">Last Name</label>
									<input type="text" class="form-control" id="lastNameProfile" name="surname" required placeholder="Doe"  {%  if user is not null %}value="{{ user.Surname }}" {% endif %}>
								</div>
								<div class="form-group col-sm-6 col-xs-12">
									<label for="emailProfile">Email</label>
									<input type="text" class="form-control" id="emailProfile" name="email" required placeholder="Jane@example.com" {%  if user is not null %}value="{{ user.Mail }}" {% endif %}>
								</div>
							</div>
						</div>
					</div>

					<div class="dashboardBoxBg mt30">
						<div class="profileIntro">
							<h3>Update password (If you want)</h3>
							<div class="row">
								<div class="form-group col-xs-12">
									<label for="currentPassword">Current Password</label>
									<input type="password" class="form-control" id="currentPassword" name="currentPass" placeholder="********">
								</div>
								<div class="form-group col-xs-12">
									<label for="newPassword">New Password</label>
									<input type="password" class="form-control" id="newPassword" name="newPass" placeholder="New Password">
								</div>
								<div class="form-group col-xs-12">
									<label for="confirmPassword">Confirm Password</label>
									<input type="password" class="form-control" id="confirmPassword" name="confirmPass" placeholder="Confirm Password">
								</div>
								<div class="form-group col-xs-12">
									<button class="btn btn-primary" type="submit" role="submit">Update</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
{% endblock %}
{% block script %}
    <script>
    </script>
{% endblock %}
